body {
    font-family: 'Raleway', sans-serif;
}

nav ul a,
nav .brand-logo {
    color: #000;
}

.nav-wrapper {
    padding: 0 50px;
}

nav .brand-logo {
    font-family: 'Berkshire Swash', cursive;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #000;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.section-intro,
.section-registrer {
    width: 100% !important;
    height: 100% !important;
}

.header-subtitle {
    margin-top: 1%;
    font-size: 2em;
}

.text-shadow {
    text-shadow: 1px 1px 1px #000;
}

.justify {
    text-align: justify;
}

.margin-section {
    margin-top: 60px;
    margin-bottom: 60px;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }

    .nav-wrapper {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #f57c00 !important;
    box-shadow: 0 1px 0 0 #f57c00 !important;
}

.custom-icon {
    font-size: 7em;
    margin-top: 30px;
}

.social-icon {
    font-size: 1.5em;
    color: #f57c00;
    padding: 0 20px;
}

.social-icon:hover {
    opacity: 0.7;
}

.text-opacity:hover {
    opacity: 0.7;
}